<div class="container">
	<form #form="ngForm" (ngSubmit)="processForm()">
		<table>
			<tr>
				<td>UserName:</td>
				<td><input type="text" name="username" ngModel required /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td>
					<input type="text" name="password" ngModel required />
				</td>
			</tr>
			<tr>
				<td>
					<button type="submit" [disabled]="form.invalid">Add</button>
				</td>
				<td>
					<p>valid : {{ form.valid }}, invalid: {{ form.invalid }}</p>
				</td>
			</tr>
		</table>
	</form>
	
</div>